{% extends "basic.html" %} 

{% block head %}
COVID-19 Data - India
{% endblock %} 


{% block body %}
<table class="container">
    <thead>
    <tr>
        <th><h1>Data</h1></th>
        <th><h1>Values</h1></th>
    </tr>
    </thead>
<tbody>
<tr>
    <td>Active</td>
    <td>{{ data.activeCases }}</td>
</tr>
<tr>
    <td>Active New cases</td>
    <td>{{ data.activeCasesNew }}</td>
</tr>
<tr>
    <td>Confirmed</td>
    <td>{{ data.totalCases }}</td>
</tr>
<tr>
    <td>Recovered</td>
    <td>{{ data.recovered }}</td>
</tr>
<tr>
    <td>Recovered New</td>
    <td>{{ data.recoveredNew }}</td>
</tr>
<tr>
    <td>Deaths</td>
    <td>{{ data.deaths }}</td>
</tr>
<tr>
    <td>Deaths New</td>
    <td>{{ data.deathsNew }}</td>
</tr>
<tr>
    <td>Previous Day Tests</td>
    <td>{{ data.previousDayTests }}</td>
</tr>
</tbody>
</table>


<form action="/posts" method="POST">
    <div class="select">
  <select name = "state" id="state">
    <option value="Andhra Pradesh">Andhra Pradesh</option>
    <option value="Andaman and Nicobar Islands">
      Andaman and Nicobar Islands
    </option>
    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
    <option value="Assam">Assam</option>
    <option value="Bihar">Bihar</option>
    <option value="Chandigarh">Chandigarh</option>
    <option value="Chhattisgarh">Chhattisgarh</option>
    <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
    <option value="Delhi">Delhi</option>
    <option value="Goa">Goa</option>
    <option value="Gujarat">Gujarat</option>
    <option value="Haryana">Haryana</option>
    <option value="Himachal Pradesh">Himachal Pradesh</option>
    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
    <option value="Jharkhand">Jharkhand</option>
    <option value="Karnataka">Karnataka</option>
    <option value="Kerala">Kerala</option>
    <option value="Ladakh">Ladakh</option>
    <option value="Lakshadweep">Lakshadweep</option>
    <option value="Madhya Pradesh">Madhya Pradesh</option>
    <option value="Maharashtra">Maharashtra</option>
    <option value="Manipur">Manipur</option>
    <option value="Meghalaya">Meghalaya</option>
    <option value="Mizoram">Mizoram</option>
    <option value="Nagaland">Nagaland</option>
    <option value="Odisha">Odisha</option>
    <option value="Puducherry">Puducherry</option>
    <option value="Punjab">Punjab</option>
    <option value="Rajasthan">Rajasthan</option>
    <option value="Sikkim">Sikkim</option>
    <option value="Tamil Nadu">Tamil Nadu</option>
    <option value="Telangana">Telangana</option>
    <option value="Tripura">Tripura</option>
    <option value="Uttar Pradesh">Uttar Pradesh</option>
    <option value="Uttarakhand">Uttarakhand</option>
    <option value="West Bengal">West Bengal</option>
  </select>
</div>
<br>
<button>>></button>
</form>
{% endblock %}
